body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 0 5%;
  height: 100vh;
}

.control-panel {
  background-color: #BDBDBD;
  height: 75vh;
  margin: 35px 0 0 35px;
  border-radius: 12px;
}

.control-panel__title {

}

.display {
  background-color: #F2F2F2;
  color: orange;
  height: 75vh;
  width: 50vw;
  border-radius: 15px;
  margin-top: 35px;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 15px;
}